<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Controller間で値を共有する</title>
  <style>
    h2,h3 { margin: 0 0 10px; }

    h2 { font-size: 20px }
    h3 { font-size: 16px }

    .parent {
      border: 1px solid #333;
      padding: 20px;
    }

    .child {
      border: 1px solid #ccc;
      padding: 20px;
      margin: 20px 0;
    }
  </style>
  <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
</head>
<body ng-app="demo">
  <div ng-controller="ParentCtrl as parent" class="parent">
    <h2>ParentCtrl</h2>
    Message here
    <input type="text" ng-model="parent.message">
    <div ng-controller="ChildCtrl as child" class="child">
      <h3>ChildCtrl</h3>
      Change parent message<br>
      <input type="text" ng-model="parent.message">
    </div>
  </div>

  <script>
    var demo = angular.module('demo', []);

    demo.controller('ParentCtrl', function($scope) {
      this.message = 'Hello World!!'
    });

    demo.controller('ChildCtrl', function($scope) { });
  </script>
</body>
</html>

